.background {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    vertical-align: center;
    text-align: justify;
    display: flex;
    align-items: center;
}

.box {
    background-color: #81F0E5;
    background-size: 45vw 20vh ;
    min-width: 450px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    align-self: center;
    border-radius: 10px;
}

.box h1 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.box p {
    font-size: 18pxs;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}