<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="./static/others.css">
</head>
<body class="background">
    <div class="box">
        <h1>Sobre mim:</h1>
        <p>Olá novamente, como eu disse anteriormente me chamo Carlos Eduardo, <br>
            sou natural da cidade de Icó-CE e atualmente moro em uma república em Cedro-CE. <br>
            Vou falar um pouco sobre meu gosto pela área de tecnologia. Eu sempre gostei muito <br>
            dessa área, quando mais novo, gostava muito de fazer root em aparelhos Android, não só isso,<br>
            mas também fazer a instalação de ROMs. Na adolescência, despertei interesso por hardaware, inclusive <br>
            gosto muito até hoje, porém foi no ensino médio que tive meu primeiro contato com programação, <br>
            mais especificamente com Python. E a partir daí, fiquei bastante interessado pela área, o que me <br>
            incentivou a entrar numa universidade.
        </p>
    </div>
</body>
</html>