<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formação</title>
    <link rel="stylesheet" href="./static/others.css">
</head>
<body class="background">
    <div class="box">
        <h1>Formação:</h1>
        <p>Instituto Federal de Educação, Ciência e Tecnologia do Ceará - <strong>IFCE</strong> <br>
            Bacharelado em Sistemas de Informação <br>
            2021-2025
        </p>
    </div>
</body>
</div>
</html>